@use "../abstracts/variables" as *;


section {
    height: 95vh;
}

.section-about {
    .avatar__photo {
        width: 25rem;
    }
}

.section-portfolio {}

.weather {
    width: 90%;
    max-width: 50rem;
    background: linear-gradient(135deg, $color-primary-light, $color-primary-dark);
    color: $color-white;
    margin: 10rem auto 0;
    border-radius: 2rem;
    padding: 4rem;
    text-align: center;

    &__search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            border: 0;
            outline: 0;
            background: $color-white;
            color: $color-black;
            padding: 1rem 2.5rem;
            height: 6rem;
            border-radius: 3rem;
            flex: 1;
            margin-right: 1.5rem;
            font-size: 2rem;
        }

        button {
            border: 0;
            outline: 0;
            background: $color-white;
            border-radius: 50%;
            width: 6rem;
            height: 6rem;
            cursor: pointer;

            img {
                width: 2rem;
            }
        }
    }
}

.forcast {
    &-icon {
        width: 17rem;
        margin-top: 3rem;
    }

    h1 {
        font-size: 8rem;
        font-weight: 500;
    }

    h2 {
        font-size: 4.5rem;
        font-weight: 400;
        margin-top: -1rem;
    }
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 5rem;

    .col {
        display: flex;
        align-items: center;
        text-align: left;

        .img {
            width: 4rem;
            margin-right: 1rem;
        }
    }
}

.humidity,
.wind {
    font-size: 3rem;
    margin-top: -0.5rem;
}

.forcast {
    display: none;
}

.error {
    text-align: left;
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    display: none;
}