@media (max-width: 600px) {
    .row .col-1-of-2 {
        width: 100%;
    }

    html {
        font-size: 55.5%;
    }

    .card {
        height: 40rem;

        &__side {
            height: 42rem;

        }
    }

    .u-margin-bottom-big {
        margin-bottom: 0rem !important;
    }

    .u-margin-top-big {
        margin-bottom: 0rem !important;
    }
}

@media (max-width: 1000px) {
    header {
        height: 35vh;
    }

    .row .col-1-of-3 {
        width: 65%;
        margin: 4rem 6rem;
    }

}