@media (max-width: 1000px) {
    header {
        height: 35vh;
    }

    .row .col-1-of-3 {
        width: 65%;
        margin: 4rem 6rem;
    }

    // .row {
    //     display: flex;
    //     flex-direction: column;
    // }
}