//  COLORS
$color-primary: #5a60ea;
$color-primary-light: #9799e5;
$color-primary-dark: #0911f4;

$color-secondary-light: #f58dd6;
$color-secondary: #f4a1d7;
$color-secondary-dark: #f215a5;

$color-tertiary-light: #f5bb74;
$color-tertiary: #ffa02a;
$color-tertiary-dark: #bb6a08;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;